<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>BankApp</title>
        <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="//npmcdn.com/angular-ui-router@1.0.0-alpha.4/release/angular-ui-router.js"></script>
    </head>
    <body ng-controller="MainController as main">
        <nav class="navbar navbar-default navbar-fixed-top">
            <a  class="navbar-brand" href="/">BankApp</a>
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ng-if="main.isLogin" ui-sref="data.app" >Заявка на инкасацию <span class="sr-only">(current)</span></a></li>
                <li ui-sref-active="active"><a ng-if="main.isLogin" ui-sref="data.appsList">Заявки</a></li>
                <li  class="dropdown">
                    <a ng-if="main.person.role==1&&main.isLogin" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Справочники <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        
                        <li ui-sref-active="active"><a  ui-sref="data.booktype">Типы заявки на инкассацию</a></li>
                        <li ui-sref-active="active" ><a ui-sref="data.bookservice" >Справочник инкассаторских услуг</a></li>
                        <li ui-sref-active="active"><a ui-sref="data.bookperiod"> Периодичность оказания инкассаторских услуг</a></li>
                        <li ui-sref-active="active"><a ui-sref=" data.bookcash">Коды валют</a></li>
                        <li ui-sref-active="active" ><a ui-sref=" data.bookmethod">Метод сдачи наличности</a></li>
                        <li ui-sref-active="active" ><a ui-sref=" data.bookbank" ">Банки</a></li>
                        
                    </ul>
                </li>
                
            </ul>
            
            
            
            <ul class="nav navbar-nav pull-right">
                
                <li class="active">
                    <div ng-if="!main.isLogin" class="login">
                        <form ng-submit="main.submit()" name="main.loginForm" role="form" class="form-inline" novalidate>
                            <div class="form-group">
                                
                                <input type="text" ng-model="main.login" class="form-control" id="email" placeholder="Введите login" required>
                            </div>
                            <div class="form-group">
                                <input type="password" ng-model="main.password" class="form-control" id="pass" placeholder="Пароль" required>
                            </div>
                            <button type="submit" ng-disabled="main.loginForm.$invalid" class="btn btn-success">Войти</button>
                        </form>
                        
                        
                    </div>
                    
                </li>
                <li ng-if="main.isLogin" class="dropdown">
                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Профиль<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>Привет, {{main.person.name}}</a></li>
                        <li ui-sref-active="active"><a class="click" ng-click="main.logout()">Выйти</a></li>
                    </ul>
                </li>
                <li ui-sref-active="active"><a ui-sref="login.logging" >Информация</a></li>
            </ul>
        </nav>
        <div ng-show="main.loginErrorFlag" class="alert alert-danger">
            <center> <strong>Ошибка!</strong> Вы ввели некорректные логин или пароль! </center>
        </div>
        <div class="container">
            <div class="jumbotron">
                <ui-view>
                </ui-view>
            </div>
        </div>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="./js/classModule/collection.js"></script>
        <script src="./js/modules/components.module.js"></script>
        <script src="./js/compopents/app.component.js"></script>
        <script src="./js/configs/rout.config.js"></script>
        <script src="./js/main.js"></script>
        <script src="./js/controller/main.controller.js"></script>
        <script src="./js/modules/helpers.module.js"></script>
        <script src="./js/services/data.service.js"></script>
        <script src="./js/services/autr.service.js"></script>
        <script src="./js/compopents/bookServices.component.js"></script>
        <script src="./js/compopents/bookTypes.component.js"></script>
        <script src="./js/services/storageUpdater.service.js"></script>
        <script src="./js/compopents/bookPeriod.component.js"></script>
        <script src="./js/compopents/bookCash.component.js"></script>
        <script src="./js/compopents/bookMethod.component.js"></script>
        <script src="./js/compopents/bookBank.component.js"></script>
        <script src="./js/compopents/appsList.component.js"></script>
        
    </body>
</html>