<center>
<h1>Заявка на инкасацию</h1>
<div class="form-group">
</div>
<form ng-submit="$ctrl.createApp()" name="$ctrl.appform" class="form-horizontal" novalidate>
	<div class="form-group">
		<label for="mail" class="col-sm-2 control-label">Тип заявки</label>
		<div class="col-sm-10">
			<select ng-model="typeInp" name="typeInp" class="form-control" required>
				<option></option>
				<option ng-repeat="type in $ctrl.typeApps">{{type.name}}</option>
			</select>
			<span ng-show="$ctrl.appform.typeInp.$error.required" class="label label-warning">Не указан тип
			заявки</span>
		</div>
	</div>
	<div class="form-group">
		<label for="mail" class="col-sm-2 control-label">Имя уполномоченного сотрудник организации</label>
		<div class="col-sm-10">
			<input type="text" name="fioAndOrg" ng-model="$ctrl.fioAndOrg" class="form-control" placeholder="ФИО, Должность" required>
		</div>
		<span  ng-show="$ctrl.appform.fioAndOrg.$error.required" class="label label-warning"> Не указано имя уполномоченного сотрудника организации клиента для решения вопросов организации инкассации</span>
	</div>
	<div class="form-group">
		<label for="mail" class="col-sm-2 control-label">Сдача наличности</label>
		<div class="col-sm-10">
			<select class="form-control" name="cashType" ng-model="$ctrl.cashType" required>
				<option></option>
				<option ng-repeat="item in $ctrl.methods">{{item.name}}</option>
			</select>
			<span  ng-show="$ctrl.appform.cashType.$error.required" class="label label-warning">Не указанп редпочитаемый способ сдачи денежной наличности для инкассации</span>
		</div>
	</div>
	<div class="form-group">
		<label for="mail" class="col-sm-2 control-label">Примечание</label>
		<div class="col-sm-10">
			<textarea rows="10" class="form-control" cols="45" placeholder="Примечание" name="text"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="mail" class="col-sm-2 control-label">Подразделение банка </label>
		<div class="col-sm-10">
			<select ng-model="$ctrl.bankIt" name="bankIt" class="form-control" required>
				<option></option>
				<option ng-repeat="item in $ctrl.banks">{{item.name}}</option>
			</select>
			<span ng-show="$ctrl.appform.bankIt.$error.required" class="label label-warning"> Не указано подразделение банка</span>
		</div>
	</div>
	<div class="form-group">
		<label for="mail" class="col-sm-2 control-label">ИНН/КИО</label>
		<div class="col-sm-10">
			<input  type="number" name="inn" ng-model="$ctrl.inn" min="5" max="12" class="form-control" id="mail" placeholder="ИНН/КИО" ng-pattern="/(5|10|12)/" required>
			<span  ng-show="$ctrl.appform.inn.$error.min" class="label label-danger">Число слишком маленькое</span>
			<span  ng-show="$ctrl.appform.inn.$error.pattern" class="label label-danger">Допустимы 5, 10 или 12</span>
			<span ng-show="$ctrl.appform.inn.$error.max" class="label label-danger">Число слишком большое</span>
			<span ng-show="$ctrl.appform.inn.$error.required" class="label label-warning">Задайте число (5, 10, 12)</span>
		</div>
	</div>
	<div class="form-group">
		<label for="mail" class="col-sm-2 control-label">КПП</label>
		<div class="col-sm-10">
			<input  type="number" name="kpp" ng-model="$ctrl.kpp" ng-maxlength="9" ng-pattern="/[0-9]{9}$/" class="form-control" id="mail" placeholder="КПП">
			<span ng-show="$ctrl.appform.kpp.$error.pattern" class="label label-danger">Число в формате XXXXXXXXX где X - числа [0-9] </span>
			<span ng-show="$ctrl.appform.kpp.$error.maxlength" class="label label-danger">Длина не должна превышать 9</span>
		</div>
	</div>
	<div class="form-group">
		<label for="mail" class="col-sm-2 control-label">Полное наименование организации</label>
		<div class="col-sm-10">
			<input type="text" name="fullNameOrg" ng-model="$ctrl.fullNameOrg" ng-maxlength="255" class="form-control" id="mail" placeholder="Полное наименование организации" required>
			<span ng-show="$ctrl.appform.fullNameOrg.$error.maxlength" class="label label-danger">Слишком длинное название</span>
			<span ng-show="$ctrl.appform.fullNameOrg.$error.required" class="label label-warning">Заполните поле</span>
		</div>
	</div>
	<div class="form-group">
		<label for="mail" class="col-sm-2 control-label">Номер телефона,факса</label>
		<div class="col-sm-10">
			<input type="text" name="phoneForm" ng-model="$ctrl.phoneForm" ng-maxlength="255" class="form-control" id="mail" placeholder="Номер телефона,факса уполномоченного сотрудника организации клиента для решения вопросов организации инкассации" required>
			<span ng-show="$ctrl.appform.phoneForm.$error.maxlength" class="label label-danger">Слишком длинное название</span>
			<span ng-show="$ctrl.appform.phoneForm.$error.required" class="label label-warning">Не указан номер телефона уполномоченного сотрудникаорганизации клиентадля решения вопросов организациии нкассации</span>
		</div>
	</div>
	<div class="form-group">
		<label for="mail" class="col-sm-2 control-label">Номер счета зачисления</label>
		<div class="col-sm-10">
			<input type="number" name="numberItem"  min="0" ng-model="$ctrl.numberItem" ng-maxlength="20" class="form-control" id="mail" placeholder="Номер счета клиента в банке, на который требуется зачислить инкассированные денежные средства" required>
			<span ng-show="$ctrl.appform.numberItem.$error.maxlength" class="label label-danger">Слишком длинный счёт</span>
			<span ng-show="$ctrl.appform.numberItem.$error.required" class="label label-warning">Не указан номер счета зачисления</span>
			<span ng-show="$ctrl.appform.numberItem.$error.min" class="label label-warning">Число не может быть меньше 0</span>
		</div>
	</div>
	<div class="form-group">
		<label for="mail" class="col-sm-2 control-label">БИК</label>
		<div class="col-sm-10">
			<input  type="number" name="bik" min="0" ng-model="$ctrl.bik" ng-maxlength="9" class="form-control" id="mail" placeholder="БИК банка, в который требуется инкассировать денежные средства" required>
			<span ng-show="$ctrl.appform.numberItem.$error.maxlength" class="label label-danger">Слишком длинный счёт</span>
			<span ng-show="$ctrl.appform.numberItem.$error.required" class="label label-warning">Не указан номер счета зачисления</span>
			<span ng-show="$ctrl.appform.numberItem.$error.min" class="label label-warning">Число не может быть меньше 0</span>
		</div>
	</div>
	<div class="form-group">
		<label for="mail" class="col-sm-2 control-label">Номер корр. счета банка</label>
		<div class="col-sm-10">
			<input  type="number" name="numberCorrect" min="0" ng-model="$ctrl.numberCorrect" ng-maxlength="20" class="form-control" id="mail" placeholder="Счет и реквизиты банка, на который производится перечисление проинкассированных средств " required>
			<span ng-show="$ctrl.appform.numberCorrect.$error.maxlength" class="label label-danger">Слишком длинный счёт</span>
			<span ng-show="$ctrl.appform.numberCorrect.$error.required" class="label label-warning">Не указан номер корр. счета банка</span>
			<span ng-show="$ctrl.appform.numberCorrect.$error.min" class="label label-warning">Число не может быть меньше 0</span>
		</div>
	</div>
	
		<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" ng-disabled="$ctrl.appform.$invalid" class="btn btn-success">Подтвердить</button>
		</div>
	</div>
</form>

</div>
	<div class="panel panel-default">
	<div class="panel-heading">Добавленные объекты инкасации</div>
		<ul class="list-group">
			<li  ng-repeat="item in $ctrl.listIncasObj" class="list-group-item">{{item}}</li>
		</ul>
	</div>


	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Объекты инкасации</div>
		<div class="panel-body">
			<p>Добавьте объекты инкасации</p>
		</div>
		<!-- List group -->
		
		<ul class="list-group">
		<form ng-submit="$ctrl.$ctrl.addItem()" name="$ctrl.objForm" class="form-horizontal" novalidate>
			<li class="list-group-item">
				<div class="form-group">
					<label for="mail" class="col-sm-2 control-label">Адрес</label>
					<div class="col-sm-10">
						<input type="text" ng-model="$ctrl.city" class="form-control" id="mail" placeholder="Город">
						<input type="email" ng-model="$ctrl.type" class="form-control" id="mail" placeholder="Населённый пункт">
						<input type="email" ng-model="$ctrl.type" class="form-control" id="mail" placeholder="Улица">
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="form-group">
					<label for="mail" class="col-sm-2 control-label">Услуга</label>
					<div class="col-sm-10">
						<select ng-model="$ctrl.serv" class="form-control">
							<option></option>
							<option ng-repeat="item in $ctrl.services">{{item.name}}</option>
						</select>
						<span ng-show="$ctrl.appform.serv.$error.maxlength" class="label label-danger">Слишком длинное название</span>
						<span ng-show="$ctrl.appform.serv.$error.required" class="label label-warning">Не указана предпочетаемая инкасаторская услуга</span>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="form-group">
					<label for="mail" class="col-sm-2 control-label">Режим работы</label>
					<div class="col-sm-10">
						<input type="email" ng-model="$ctrl.type" class="form-control" id="mail" placeholder="С">
						<input type="email" ng-model="$ctrl.type" class="form-control" id="mail" placeholder="До">
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="form-group">
					<label for="mail" class="col-sm-2 control-label">Режим работы объекта инкассации</label>
					<div class="col-sm-10">
						<input type="email" ng-model="$ctrl.type" class="form-control" id="mail" placeholder="С">
						<input type="email" ng-model="$ctrl.type" class="form-control" id="mail" placeholder="До">
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="form-group">
					<label for="mail" class="col-sm-2 control-label">Желательное время прибытия инкассаторов на объект</label>
					<div class="col-sm-10">
						<input type="email" ng-model="$ctrl.type" class="form-control" id="mail" placeholder="С">
						<input type="email" ng-model="$ctrl.type" class="form-control" id="mail" placeholder="До">
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="form-group">
					<label for="mail" class="col-sm-2 control-label">Периодичность оказания инкассаторских услуг</label>
					<div class="col-sm-10">
						<select class="form-control">
							<option></option>
							<option ng-repeat="item in $ctrl.periods">{{item.name}}</option>
						</select>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="form-group">
					<label for="mail" class="col-sm-2 control-label">День недели</label>
					<div class="col-sm-10">
						<input type="email" ng-model="$ctrl.type" class="form-control" id="mail" placeholder="День недели">
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="form-group">
					<label for="mail" class="col-sm-2 control-label">Предполагаемый объем денежной наличности для инкассации</label>
					<div class="col-sm-10">
						<input type="email" ng-model="$ctrl.type" class="form-control" id="mail" placeholder="Предполагаемый объем денежной наличности для инкассации">
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="form-group">
					<label for="mail" class="col-sm-2 control-label">Руководитель объекта</label>
					<div class="col-sm-10">
						<input type="email" ng-model="$ctrl.type" class="form-control" id="mail" placeholder="Руководитель объекта">
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="form-group">
					<label for="mail" class="col-sm-2 control-label">Желательная дата начала обслуживания\Дата открытия торговой точки</label>
					<div class="col-sm-10">
						<input type="date" ng-model="$ctrl.type" class="form-control" id="mail" placeholder="Дата">
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="form-group">
					<label for="mail" class="col-sm-2 control-label">Касса объекта</label>
					<div class="col-sm-10">
						<input type="text" ng-model="$ctrl.type" class="form-control" id="mail" placeholder="Касса объекта">
					</div>
				</div>
			</li>

			<li class="list-group-item">
		<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" ng-disabled="$ctrl.appform.$invalid" class="btn btn-success">Добавить</button>
		</div>
	</div>
	</li>
		</ul>

</form>
	

</center>