<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Метод сдачи наличности</div>
	<div class="panel-body">
		<p>Здесь произвольный текст. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	</div>
	<!-- Table -->
	<table class="table">
		<thead>
			<tr>
				<th>#id</th>
				<th>Имя</th>
				<th>Администрирование</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in $ctrl.methods">
				<td>{{item.id}}</td>
				<td> {{item.name}}
					<div ng-if="$ctrl.inpFlag&&$ctrl.index===$index" class="col-sm-10">
						<input type="text" ng-init="$ctrl.newName = item.name" ng-model="$ctrl.newName" class="form-control" placeholder="Сервис" >
					</td>
					
					<td>
					<button ng-if="$ctrl.inpFlag&&$ctrl.index===$index" ng-click="$ctrl.updateItem(item,item.name ,$index)" type="button" class="btn btn-default">Сохранить</button>
					<button ng-if="$ctrl.inpFlag&&$ctrl.index===$index" ng-click="$ctrl.back()" type="button" class="btn btn-default">Отменить</button>
						<div class="btn-group unvisual-{{$ctrl.inpFlag}}">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Действие <span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a class="click" ng-click="$ctrl.goUpdateItem($index)">Редактировать</a></li>
								<li><a class="click" ng-click="$ctrl.deleteItem($index)">Удалить</a></li>
							</ul>
						</div>
						
						
					</tbody>
				</table>
				<div class="panel-body">
		<div class="col-sm-6">
		<center>
					<input type="text" ng-model="$ctrl.newText" class="form-control" placeholder="Название">
					<br>
					<button type="button" ng-click="$ctrl.add()" class="btn btn-default">Добавить</button>
					</center>
				</div>
	</div>
			</div>